/* @import '../../../base/bootstrap-extended/include';
@import '../../../base/components/include';
@import '../../../base/plugins/extensions/ext-component-drag-drop.scss';
 */
.sortable-selected {
  background-color: blanchedalmond;
}

// Dark
.dark-layout {
  .sortable-selected {
    background-color: blue !important;
  }
}

// RTL
html[dir='rtl'] {
  .sortable-row {
    flex-direction: row-reverse;
  }
}
