// S I D E B A R
.c-sidebar .c-sidebar-nav-link.c-active, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  //background: linear-gradient(
  //    90deg,
  //    #e79140 44%,
  //    rgba(#e79140, 0.6) 73%,
  //    rgba(#e79140, 0.2)
  //);
  color: #fff;
  background: rgba(240, 150, 65, 1) !important;
  /* margin: 0px 10px;
  border-radius: 5px; */
}

.c-sidebar .c-sidebar-nav-link.c-active:hover, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #fff;
  background: rgba(240, 150, 65, 1) !important;
  /* margin: 0px 10px;
  border-radius: 5px; */
}
/* .c-sidebar .c-sidebar-nav-link.c-active:after, .c-sidebar .c-active.c-sidebar-nav-dropdown-toggle::after {
  color: #fff;
  //background: rgba(240, 150, 65, 1) !important;
  margin: 0px 10px;
  border-radius: 5px;
} */

@media (hover: hover), (-ms-high-contrast: none) {
  .c-sidebar .c-sidebar-nav-link:hover, .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
  color: #fff;
  background-color: transparent !important; //background: rgba(255, 255, 255, 0.1);
  /* -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateX(4px);
  transform: translateX(4px); */
  }
}

// COLOR INPUT RADIO
input[type='radio']:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #c0c4c0;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 7px solid #e79140;
  box-shadow: 0 0px 5px 0 rgba(#e79140, 0.8);
  cursor: pointer;
}

// TABS personalizados
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link{
    font-weight: 600;
    font-size: 15px;
    color: rgba(black, 0.7);
    background-color: transparent;
    border-color: transparent;
    padding-right: 0;
    padding-left: 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link{
    font-weight: 700;
    font-size: 15px;
    color: #e79140;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

// Arrow Right para Tab
.arrow-right-secondary{
  color: 'black';
  opacity: 0.6;
}

//  F U E N T E
body{
  font-family:'Montserrat', Helvetica, Arial, serif;
  //font-weight: 400;
 // font-style: 0.857rem;
  letter-spacing: 0.6px;
}

// Card
.card {
  box-shadow: 0 0px 20px 0 rgba(#7e7d7d, 0.2);
  border: none;
  border-radius: 8px;
}

.card-header {
  &:first-child {
    border-radius: 8px 8px 0 0;
  }
}

.c-subheader {
  border-radius: 0 0 8px 8px !important;
}

// Tablas personalizadas
 table{
  thead{
    white-space: nowrap;
    background-color: #ededed;
    vertical-align: middle;
  }
  tbody{
    // for table row effects
    td{
     // padding: 0.8rem;
      padding-top: 8px !important;
      padding-bottom: 0px !important;
      vertical-align: middle;
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: #f8f8f8 !important;
      }
    }
  }
}

// Para texto Label y datos en Mostrar Evento
.text-label{
  font-weight: 600;
  opacity: 0.7;
}
.text-data{
  opacity: 0.8;
}

// Estilos varios
.sinSalto{
  white-space: nowrap;
}

.mx-md-4{
  @media (min-width: 768px) {
    margin-left: 29px !important; margin-right: 29px !important;
   }
}

// BADGES
.badge-danger-light{
  background-color:#fceaea;
  color: #ea5556;
  box-shadow: 0 0px 5px 0 rgba(#ea5556, 0.6);
  font-size: 12;
}
.badge-success-light{
  background-color:#e5f8ed;
  color: #2bc871;
  box-shadow: 0 0px 5px 0 rgba(#2bc871, 0.6);
  font-size: 12;
}
.badge-warning-light{
  background-color:#fff3e8;
  color: #ff9f44;
  box-shadow: 0 0px 5px 0 rgba(#ff9f44, 0.6);
  font-size: 12;
}
.badge-danger{
  background-color:#ea5556;
  color: #fff;
  box-shadow: 0 0px 5px 0 rgba(#ea5556, 0.6);
  font-size: 12;
}

// divider
.divider {
  .divider-text {
    color: rgba(black, 1);

    &::before,
    &::after {
      border-color: rgba(black, 0.4);
    }
  }

  &.divider-dark {
    .divider-text {
      &::before,
      &::after {
        border-color: rgba(black, 0.4) !important;
      }
    }
  }
}



.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 1rem 0;

  // divider text display prop

  .divider-text {
    position: relative;
    display: inline-block;
    font-size: 0.9375rem;
    padding: 0 1rem;

    // divider icon font size

    i,
    svg {
      height: 1rem;
      width: 1rem;
      font-size: 1rem;
    }

    // divider border

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 9999px;
      border-top: 1px solid $border-color;
    }

    // divider spacing
    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  // divider positions config

  &.divider-left {
    .divider-text {
      float: left;
      padding-left: 0;
      &:before {
        display: none;
      }
    }
  }
  &.divider-left-center {
    .divider-text {
      left: -25%;
    }
  }

  &.divider-right {
    .divider-text {
      float: right;
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
  &.divider-right-center {
    .divider-text {
      right: -25%;
    }
  }
}



// Table - hover animation
.table-hover-animation {
  table{
    border-collapse:separate;
    border-spacing: 0 0.7rem;
    padding: 0 0.7rem;
  }
  tbody{
    // for table row effects
    tr{
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 20px 0px;
      //cursor: pointer;
      transition: all .3s ease;
      border-radius: .5rem;
      &:hover{
        transform: translateY(-4px);
        transition: all .3s ease;
      }
      td:first-child{
        padding-left: 1rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }
      td:last-child{
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }

      &.selected{
        td{
          border-radius: 0;
        }
      }
    }
    td{
      padding: 0.8rem;
      border: none;
      vertical-align: middle;
    }
  }
}

// TD table solo para listado de Controles. planes y seguimiento
.list{
  td{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
}


// table border radius
/*.card .table {
  margin-bottom: 0;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  tbody {
    tr:last-child {
      td:first-child {
        border-bottom-left-radius: $border-radius;
      }
      td:last-child {
        border-bottom-right-radius: $border-radius;
      }
      &.selected{
        td{
          border-radius: 0;
        }
      }
    }
  }
}

// Contexual table inside card radius
.card {
  table {
    tr[class*='table-']:last-child {
      td:first-child {
        border-bottom-left-radius: $border-radius;
      }
      td:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
  }
}

// IE Specific CSS
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .table-hover-animation {
    tr {
      &:hover {
        border-bottom-color: $table-border-color;
      }
    }
  }
}
 */


/**Scroll*/

.react-bootstrap-table {
  overflow-y: auto;
  min-height: 100px;
  max-height: 600px;
}

.react-bootstrap-table thead th {
  position: sticky;
  top: 0;
  z-index: 20;
}

/* Just common table stuff. Really. */

.react-bootstrap-table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  /* padding: 2px 13;
  min-width: 50px; */
  margin-top: 35px; margin-bottom: 35px;
}

th {
  background-color: #ededed;
}





/*para que no colapse*/
.sinSalto{
  white-space: nowrap;
}


/**** Sort icon****/

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}



.Select.is-open {
  z-index: 1000 !important;
}