// Elimina padding de Container principal
.c-main {
  padding-top: 0rem;
}

@media (min-width: 768px) {

  .c-main>.container-fluid,
  .c-main>.container-sm,
  .c-main>.container-md,
  .c-main>.container-lg,
  .c-main>.container-xl,
  .c-main>.container-xxl {
    padding-right: 0px;
    padding-left: 0px;
  }
}

// S I D E B A R

.c-sidebar .c-sidebar-nav-link.c-active,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #fff;
  background: rgba(240, 150, 65, 1) !important;
  margin: 0px 5px;
  border-radius: 5px;
}

.c-sidebar .c-sidebar-nav-link.c-active:hover,
.c-sidebar .c-active.c-sidebar-nav-dropdown-toggle {
  color: #fff;
  background: rgba(240, 150, 65, 1) !important;
}

@media (hover: hover),
(-ms-high-contrast: none) {

  .c-sidebar .c-sidebar-nav-link:hover,
  .c-sidebar .c-sidebar-nav-dropdown-toggle:hover {
    color: #fff;
    background: rgba(#009eb2, 0.4);
    margin: 0px 5px;
    border-radius: 5px;
    transition: all ease .3s;
  }
}

// COLOR INPUT RADIO
input[type='radio']:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #c0c4c0;
  cursor: pointer;
}

input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 18px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 7px solid #e79140;
  box-shadow: 0 0px 5px 0 rgba(#e79140, 0.8);
  cursor: pointer;
}

// TABS personalizados
.nav-tabs .nav-link,
.nav-tabs .nav-item.show .nav-link {
  font-weight: 600;
  font-size: 15px;
  color: rgba(black, 0.7);
  background-color: transparent;
  border-color: transparent;
  padding-right: 0;
  padding-left: 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-weight: 700;
  font-size: 15px;
  color: #e79140;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent;
}

// Arrow Right para Tab
.arrow-right-secondary {
  color: 'black';
  opacity: 0.6;
}

//  F U E N T E  T I T U L O   S I S T E M A
.system-tittle {
  font-family: 'Montserrat', Helvetica, Arial, serif;
  //font-weight: 400;
  // font-style: 0.857rem;
  letter-spacing: 0.6px;
}

// Card
.card {
  box-shadow: 0 0px 20px 0 rgba(#7e7d7d, 0.2);
  border: none;
  border-radius: 8px;
}

.card-header {
  &:first-child {
    border-radius: 8px 8px 0 0;
  }
}

.c-subheader {
  border-radius: 0 0 8px 8px !important;
}

// Tablas personalizadas
table {
  thead {
    white-space: nowrap;
    background-color: #ededed;
    vertical-align: middle;
  }

  tbody {

    // for table row effects
    td {
      // padding: 0.8rem;
      padding-top: 8px !important;
      padding-bottom: 0px !important;
      vertical-align: middle;
    }
  }


}

// Para texto Label y datos en Mostrar Evento
.text-label {
  font-weight: 600;
  opacity: 1;
}

.text-data {
  opacity: 0.8;
}

// Estilos varios: para que no colapse
.sinSalto {
  white-space: nowrap;
}

.mx-md-4 {
  @media (min-width: 768px) {
    margin-left: 29px !important;
    margin-right: 29px !important;
  }
}

// BADGES
.badge-danger-light {
  background-color: #fceaea;
  color: #ea5556;
  box-shadow: 0 0px 5px 0 rgba(#ea5556, 0.6);
  font-size: 12;
}

.badge-success-light {
  background-color: #e5f8ed;
  color: #2bc871;
  box-shadow: 0 0px 5px 0 rgba(#2bc871, 0.6);
  font-size: 12;
}

.badge-warning-light {
  background-color: #fff3e8;
  color: #ff9f44;
  box-shadow: 0 0px 5px 0 rgba(#ff9f44, 0.6);
  font-size: 12;
}

.badge-yellow-light {
  background-color: #f9fab5;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0px 5px 0 rgba(#fbff29, 0.6);
  font-size: 12;

}

.badge-danger {
  background-color: #ea5556;
  color: #fff;
  box-shadow: 0 0px 5px 0 rgba(#ea5556, 0.6);
  font-size: 12;
}

.badge-success {
  background-color: #2bc871;
  color: #fff;
  box-shadow: 0 0px 5px 0 rgba(#2bc871, 0.6);
  font-size: 12;
  border-radius: 15px;
}

.badge-warning {
  background-color: #e79140;
  color: #fff;
  box-shadow: 0 0px 5px 0 rgba(#e79140, 0.6);
  font-size: 12;
  border-radius: 15px;
}


// DIVIDER
.divider {
  .divider-text {
    color: rgba(black, 1);

    &::before,
    &::after {
      border-color: rgba(black, 0.4);
    }
  }

  &.divider-dark {
    .divider-text {

      &::before,
      &::after {
        border-color: rgba(black, 0.4) !important;
      }
    }
  }

  &.divider-primary {
    .divider-text {

      &::before,
      &::after {
        border: 1px solid rgba(#ff9f44, 0.3) !important;
      }
    }
  }
}


.divider {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: 1rem 0;

  // divider text display prop
  .divider-text {
    position: relative;
    display: inline-block;
    font-size: 0.9375rem;
    padding: 0 1rem;

    // divider icon font size
    i,
    svg {
      height: 1rem;
      width: 1rem;
      font-size: 1rem;
    }

    // divider border
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 9999px;
      border-top: 1px solid $border-color;
    }

    // divider spacing
    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }
  }

  // divider positions config
  &.divider-left {
    .divider-text {
      float: left;
      padding-left: 0;

      &:before {
        display: none;
      }
    }
  }

  &.divider-left-center {
    .divider-text {
      left: -25%;
    }
  }

  &.divider-right {
    .divider-text {
      float: right;
      padding-right: 0;

      &:after {
        display: none;
      }
    }
  }

  &.divider-right-center {
    .divider-text {
      right: -25%;
    }
  }
}





// TABLE HOVER ANIMATION
.table-hover-animation {
  table {
    border-collapse: separate;
    border-spacing: 0 0.7rem;
    padding: 0 0.7rem;
  }
  tbody {
    tr {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 10px 0px;
      //cursor: pointer;
      transition: all .3s ease;
      border-radius: .5rem;
      &:hover {
        transform: translateY(-2px);
        transition: all .3s ease;
      }
      td:first-child {
        padding-left: 1rem;
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
      }
      td:last-child {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
      }
      &.selected {
        td {
          border-radius: 0;
        }
      }
      &:nth-of-type(odd) {
        background-color: #f8f8f8 !important;
      }
    }
    td {
      padding: 0.8rem;
      border: none;
      vertical-align: middle;
    }
  }
}


/* Scroll para Tabla*/
.custom-react-bootstrap-table .react-bootstrap-table {
  overflow-y: auto;
  min-height: 100px;
  max-height: 600px;
  border-collapse: collapse;
  width: 100%;
}
.custom-react-bootstrap-table .react-bootstrap-table thead th {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: #ededed;
  //margin-top: 35px; margin-bottom: 35px;
}


// Tablas para Mapas
/* Estilos específicos para la tabla única */
.unique-table .table {
  border-collapse: collapse;
}

.unique-table .table th,
.unique-table .table td {
  border: 1px solid #878888 !important;
  vertical-align: middle;
  padding: 0px 5px !important; /* arriba y abajo 0x, izquierda y derecha 10px */
  
}



/* th, td {
  margin-top: 35px; margin-bottom: 35px;
}

th {
  background-color: #ededed;
} */




/**** Sort icon****/

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid\9;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.Select.is-open {
  z-index: 1000 !important;
}


.fixed-select-tre {
  z-index: 1;
  position: relative;
}

/* Contenedor con scrool vertical */
.custom-container-scrooll {
  //height: 200px;
  //overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
}

// Personalizacion de checkbox
input[type="checkbox"].orange-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: 1px solid #e79140;
  border-radius: 3px;
  position: relative;
}

input[type="checkbox"].orange-checkbox:checked {
  background-color: #e79140;
  border: 1px solid #e79140;
}

input[type="checkbox"].orange-checkbox:checked::before {
  content: '';
  position: absolute;
  top: 45%;
  left: 50%;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}